.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 15px 20px;
}

.sumrest {
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0px 10px;
}


.buttons>span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.onAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid darkgray;
}