.NavbarItems {
    background: rgb(247, 217, 250); 
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.nav-links:hover {
    background-color: #d6b4df;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.h1-size {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}