.Nav {
    display: flex;
    background-color: rgb(161, 151, 253);
    padding: 1rem;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.Logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.Nav>h1{
    font-size: 25px;
    color: rgb(255, 255, 255);
    
}

.NavItems {
    display: flex;
    list-style: none;
}

.nav-links {
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
}

.nav-links:hover {
    background-color: #8c94ff;
    border-radius: 4px;
}

.Badge {
    color: #fff;
    margin: 0px 5px;
}